body {
  background-color: SlateGray;
}

h2 {
  border-radius: 0000;
  border-width: 0000;
  padding: 0000;
  min-height: 50px;
  background-color: SlateGray;
  border-color: SlateGray;
  color: #fff;
}

.header {
  border-radius: 0000;
  border-width: 0000;
  padding: 0000;
  min-height: 50px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.logo {
   line-height: 0px;
   float: left;
   padding: 15px 15px;
   font-size: 18px;
   color: #777;
}

.btn.disabled {
  cursor: default;
  opacity: 1.0
}

.modal-content {
  box-shadow: 0 0px 0px SlateGray;
  background-color: SlateGray;
  border: 0px}

.modal-backdrop.in {
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: SlateGray;
}

#tab1 {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #fff;
  background-color: #4682B4E6;
  border-color: #4682B4E6;
  outline-color: #0072BA
}

#tab2 {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #777;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  outline-color: #008442
}

#tab2 .btn-default:hover {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #fff;
  background-color: #648f7b;
  border-color: #648f7b;
  outline-color: #008442
}

#tab3 {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #777;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  outline-color: #c55347
}

.sidebar {
  color: #fff;
  background-color: Steelblue;
  border-color: Steelblue
}

#toast-container {
  position: relative;
  left: 20%;
}
#toast-container .toast {
  box-sizing: content-box;
}
#toast-container .toast-warning {
  background-color: SteelBlue;
  color: #fff;
}

.btn-default {
  background-color: SteelBlue;
  border-color: SteelBlue;
  outline-color: #0072BA;
  color: #fff;
}

.selectize-input.full {
  background-color: SteelBlue;
  border-color: SteelBlue;
  outline-color: #0072BA;
  color: #fff;
}
.selectize-control.single .selectize-input.input-active {
  background-color: SteelBlue;
  border-color: SteelBlue;
  outline-color: #0072BA;
  color: #fff;
}
.selectize-control.single .selectize-input:after {
  border-color: #fff transparent transparent transparent
}
.selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #fff transparent
}
.selectize-dropdown {
  background-color: #4682B4E6;
  color: #fff;
}
.selectize-dropdown-content .active {
  background-color: SteelBlue;
  color: #fff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  box-shadow: none;
  background-color: SteelBlue;
  border-color: SteelBlue;
  outline-color: #0072BA;
  color: #fff;
}
input[type=text] {
  box-shadow: none;
  background-color: SteelBlue;
  border-color: SteelBlue;
  outline-color: #0072BA;
  color: #fff;
}
