body {
  background-color: SlateGray;
}

select {
  background-color: SlateGray;
  border-color: SlateGray;
  color: #fff;
  outline-color: SlateGray;
}

.header {
  border-radius: 0000;
  border-width: 0000;
  padding: 0000;
  min-height: 50px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.logo {
   line-height: 0px;
   float: left;
   padding: 15px 15px;
   font-size: 18px;
   color: #777;
}

.btn.disabled {
  cursor: default;
  opacity: 1.0
}

#tab1 {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #777;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  outline-color: Steelblue
}

#tab2 {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #777;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  outline-color: #008442
}

#tab2 .btn-default:focus {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #fff;
  background-color: #648f7b;
  border-color: #648f7b;
  outline-color: #648f7b
}

#tab3 {
  font-weight: 500;
  height: 50px;
  border-radius: 0000;
  color: #fff;
  background-color: #C55347E6;
  border-color: #C55347E6;
  outline-color: #B04A40
}

.sidebar {
  color: #fff;
  background-color: #c55347;
  border-color: #c55347
}

#toast-container {
  top: 10%;
  left: 20%;
}
#toast-container .toast {
  box-sizing: content-box;
}
#toast-container .toast-warning {
  background-color: #c55347;
  color: #fff;
}

#getPar {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#getPar:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#submitLM {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#submitLM:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#Next_LM {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#Next_LM:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#Last_LM {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#Last_LM:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#confirmLM {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#confirmLM:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#clear {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#clear:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#auto_align_btn {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
  hover: none;
}

#auto_align_btn:active {
  background-color: #B04A40;
  border-color: #B04A40;
  outline-color: #B04A40;
  color: #fff;
}

#load, #save, #quit, #Last_Sp, #Next_Sp {
  background-color: SlateGray !important;
  border-color: SlateGray!important;
  outline-color: SlateGray!important;
  color: #fff!important;
}

#load:hover, #save:hover, #quit:hover, #Last_Sp:hover, #Next_Sp:hover {
  background-color: SlateGray !important;
  border-color: rgba(0,0,0,.125)!important;
  outline-color: SlateGray!important;
  color: #fff!important;
}

#load:active, #save:active, #quit:active, #Last_Sp:active, #Next_Sp:active {
  background-color: rgba(0,0,0,.125)!important;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
}

.selectize-input.full {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
}
.selectize-control.single .selectize-input.input-active {
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
}
.selectize-control.single .selectize-input:after {
  border-color: #fff transparent transparent transparent
}
.selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #fff transparent
}
.selectize-dropdown {
  background-color: #C55347E6;
  color: #fff;
}
.selectize-dropdown-content .active {
  background-color: #c55347;
  color: #fff;
}

.sweet-alert button.confirm {
  background-color: #c55347 !important;
  border-color: #c55347 !important;
  outline-color: #c55347 !important;
  color: #fff !important;
  box-shadow: none !important;
}

.sweet-alert button.confirm:focus {
  background-color: #c55347 !important;
  border-color: #c55347 !important;
  outline-color: #B04A40 !important;
  color: #fff !important;
}

.sweet-alert button.confirm:active {
  background-color: #B04A40 !important;
  border-color: #B04A40 !important;
  outline-color: #B04A40 !important;
  color: #fff !important;
  box-shadow:inset 0 3px 5px rgb(0,0,0,.125) !important;
}

.sweet-alert button.cancel {
  background-color: SlateGray;
}

.sweet-alert button.cancel {
  color: #fff;
  background-color: SlateGray;
  border-color: rgba(0,0,0,.125);
  outline-color: SlateGray;
}

.sweet-alert button.cancel:hover {
  color: #fff;
  background-color: SlateGray;
  border-color: rgb(0,0,0,.125) !important;
  outline-color: rgb(0,0,0,.125) !important;
}

.sweet-alert button.cancel:focus {
  color: #fff;
  background-color: SlateGray;
  border-color: rgb(0,0,0,.125) !important;
  outline-color: rgb(0,0,0,.125) !important;
  box-shadow:none !important;
}
.sweet-alert button.cancel:active {
  background-color: rgb(0,0,0,.125);
  border-color: SlateGray;
  outline-color: SlateGray;
  box-shadow:inset 0 3px 5px rgb(0,0,0,.125) !important;
}

.sweet-alert h2 {
    padding: 0;
    display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  box-shadow: none;
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
}
input[type=text] {
  box-shadow: none;
  background-color: #c55347;
  border-color: #c55347;
  outline-color: #B04A40;
  color: #fff;
}
